<div id="hamburger" onclick="toggleNav()">
    <span id="hamburger-line1" class="line"></span>
    <span id="hamburger-line2" class="line"></span>
    <span id="hamburger-line3" class="line"></span>
</div>
<h1 id="logo">
    <a href="/">En Garde!</a>
</h1>
<div id="sidenav">
    <a href="/">Home</a>
    <a href="/players">Players</a>
    <a href="#">Characters</a>
    <a href="#">Mistresses</a>
    <a href="#">Reports</a>
</div>