<form id="myForm" action="/add_player" method="POST">
    <label for="name">Name:</label>
    <input id="name" name="name" type="text" required="required" maxlength="100"></input>
    <input id="id" name="id" type="hidden" value="0"></input>
    <input type="submit"></input>
</form>